services:
  discovery-service:
    image: eclipse-temurin:21-jdk-jammy
    container_name: discovery-service
    ports:
      - "8761:8761"
    working_dir: /app
    volumes:
      - ./discovery-service/target/discovery-service-0.0.1-SNAPSHOT.jar:/app/app.jar
    command: java -jar /app/app.jar
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    restart: unless-stopped
    networks:
      - microservices-net

  config-server:
    image: eclipse-temurin:21-jdk-jammy
    container_name: config-server
    ports:
      - "8888:8888"
    working_dir: /app
    volumes:
      - ./config-server/target/config-server-0.0.1-SNAPSHOT.jar:/app/app.jar
    command: java -jar /app/app.jar
    depends_on:
      - discovery-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
    restart: unless-stopped
    networks:
      - microservices-net

  api-gateway:
    image: eclipse-temurin:21-jdk-jammy
    container_name: api-gateway
    ports:
      - "8080:8080"
    working_dir: /app
    volumes:
      - ./api-gateway/target/api-gateway-0.0.1-SNAPSHOT.jar:/app/app.jar
    command: java -jar /app/app.jar
    depends_on:
      - discovery-service
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
    restart: unless-stopped
    networks:
      - microservices-net

  user-service:
    image: eclipse-temurin:21-jdk-jammy
    container_name: user-service
    ports:
      - "8001:8001"
    working_dir: /app
    volumes:
      - ./user-service/target/user-service-0.0.1-SNAPSHOT.jar:/app/app.jar
    command: java -jar /app/app.jar
    depends_on:
      - discovery-service
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
      - SERVER_PORT=8001
    restart: unless-stopped
    networks:
      - microservices-net

  product-service:
    image: eclipse-temurin:21-jdk-jammy
    container_name: product-service
    ports:
      - "8002:8002"
    working_dir: /app
    volumes:
      - ./product-service/target/product-service-0.0.1-SNAPSHOT.jar:/app/app.jar
    command: java -jar /app/app.jar
    depends_on:
      - discovery-service
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
      - SERVER_PORT=8002
    restart: unless-stopped
    networks:
      - microservices-net

  order-service:
    image: eclipse-temurin:21-jdk-jammy
    container_name: order-service
    ports:
      - "8003:8003"
    working_dir: /app
    volumes:
      - ./order-service/target/order-service-1.0-SNAPSHOT.jar:/app/app.jar
    command: java -jar /app/app.jar
    depends_on:
      - discovery-service
      - config-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
      - SERVER_PORT=8003
    restart: unless-stopped
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge