server:
  port: 8002

spring:
  application:
    name: product-service
  datasource:
    url: jdbc:h2:mem:productdb
    username: sa
    password: ""
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/